nav{
    
    padding: 10px 2%;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: sticky;
    z-index: 10;
    top: 0;
  
}

.nav-left .menu-icon{
    font-size: 30px;
    margin-right: 25px;
}
.nav-left .logo{
    font-size: 40px;
    margin-right: 10px;
    color: red;

}
.nav-middle{
    display: flex;
}

.nav-middle .search-box{
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin-right: 15px;
    border-radius: 25px;

}
.nav-middle .search-box input{
    border: 0;
    outline: 0;
    width: 400px;
    background-color: transparent;

}
.nav-middle .search-box .search{
    font-size: 20px;
    
}
.nav-middle .mic{
    background-color: #ccc;
    padding: 8px;
    border-radius: 50%;
    
}
.nav-middle .mic-icon{
    font-size: 20px;

}

.nav-right{
    display: flex;
    gap: 20px;

}


.nav-right .icons{
  font-size:30px ;
}
.nav-right .img-profile{
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.create{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ccc;
    padding: 10px 17px;
    border-radius: 25px;
    position: relative;
}
.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    




}
.dropdown div{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 18px;

}