.play-video{
    flex-basis: 69%;
}

.play-video video{
    width: 100%;
}
.play-video h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}
.play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    descent-override: 15px;
    color: #5a5a5a;
}
.play-video-info img{
    width: 20px;
    margin-right: 10px;

}

.play-video-info span{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div{
    flex: 1;
    line-height: 20px;
}
 .publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;

 }
 .publisher div p{
    font-weight: 600;
    font-size: 15px;
    color: #000;
 }
 .publisher div span{
    color: #5a5a5a;
    font-size: 12px;
 }
 .publisher button{
    background-color: red;
    border: 0;
    outline: 0;
    padding: 8px 30px;
    color: #fff;

    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
 }

 
 .video-description{
    padding-left: 50px;
    margin: 15px 0;
 }
 .video-description p{
    color: #5a5a5a;
    font-size: 15px;
    margin-bottom: 5px;
}
.video-description h4{
      color: #5a5a5a;
    font-size: 15px;
    margin-top: 15px;
}

.comment{
    display: flex;
    align-items: flex-start;
    margin: 20px ;

}
.comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.comment h3{
    font-size: 15px;
    margin-bottom: 2px;
}
.comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    margin-left: 5px;
    font-weight: 500;
}

.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 15px;

}
.comment-action img{
    width: 20px;
    border-radius: 0;
    margin-right: 5px;
}
.comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}
